
body
{
    background-color: White;
}
#ADWrap
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F4F4F4;
    height: 150PX;
}
#ADCon
{
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.wrapper
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.main-wrapper
{
    width: 1000px;
    margin: 0 auto;
}
.left-wrapper
{
    width: 700px;
    float: left;
    margin-top: 20px;
    border-right: solid 1px #d8d9d7;
    display: inline;
}
.con-box
{
    width: 680px;
 
}

.li-title
{
    font-size: 24px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
.li-tag
{
    padding-bottom: 10px;
    border-bottom: dotted 1px #D7D8D8;
    color: #979899;
    text-align: center;
}
.li-content
{ 
      position:relative;
    padding-top: 10px;
    line-height: 165%;
    font-size: 16px;
    color: #292929;
      font-family: 微软雅黑,'Microsoft YaHei UI','Microsoft YaHei',arial,Verdana,Helvetica,sans-serif!important;
    word-wrap:break-word;
    word-break:break-all;
     overflow:hidden;
}
.li-bottom-ad
{
    width:100%;
     float:left;
     display:inline;
}
.li-content a
{
    color:#292929;
}
.li-content img
{
 float:left;
 display:inline;
 padding-right:600px;
 padding-bottom:10px;
}
.li-content p
{
    padding-bottom: 10px;
  
}

.blog-li-content
{
    position:relative;
    padding-top: 10px;
    line-height: 168%;
    font-size: 16px;
    color: #202020;
   font-family: 微软雅黑,'Microsoft YaHei UI','Microsoft YaHei',arial,Verdana,Helvetica,sans-serif!important;
    word-wrap:break-word;
    word-break:break-all;
    overflow:hidden;
    
}
.blog-li-content a
{
    color:#202020;
}
.blog-li-content p
{
    padding-bottom:8px;

}
.blog-li-content img
{
    max-width:680px;
    float:left;
     padding-right:600px;
 
  
}
.li-from
{
    padding-top: 10px;
    color: #1489BF;
}
.li-related-title
{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}
.page-li
{
	padding-top:5px;
	float:left;
	display:inline;
}
.related-box
{
    border: solid 1px #D5D7D8;
    float: left;
    display:inline;
    width: 660px;
    border-radius: 4px;
    padding: 5px;
}
.related-box-li
{
    float: left;
    padding: 3px;
    display: inline;
    width: 320px;
    color: #0E0D0D;
}
.related-box-li a
{
    color:#0D8BBF
}
.right-wrapper
{
    float: right;
    display: inline;
    width: 285px;
}


.right-module-title
{
    font-size: 15px;
    font-weight: bold;
    color: #2D2F30;
    border-bottom: solid 1px #E3E4E5;
    padding-bottom: 4px;
    padding-left: 0px;
    float: left;
    width: 100%;
}
.Speak
{
    margin-top:15px;
}
.Speak ul
{
    float: left;
    width: 100%;
    display: inline;
    padding-bottom: 10px;
}
.Speak ul li
{
    padding-bottom: 8px;
}
.Speakli01
{
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    display: inline;
}
.Speakli02
{
    float: right;
    width: 200px;
    display: inline;
    padding-left: 6px;
    padding-right: 10px;
    color: #444444;
    font-size: 13px;
    line-height: 135%;
}
.inputStyle
{
    width: 270px;
    height: 80px;
    overflow: auto;
    border: solid 1px #AEB0B1;
    padding: 3px;
    background-color: #F7F8F9;
}
.btnStyle
{
    height: 30px;
    border: solid 1px gray;
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
    width: 60px;
    float: left;
}
.ADPlace
{
    float: left;
    margin-top: 10px;
}
.ADTitle
{
    font-size: 13px;
    font-weight: bold;
}
.ADPlace ul li
{
    padding-top: 15px;
}
.author-box
{
    margin-top:15px;
}
.author-box ul li
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.author-li01
{
    font-weight: bold;
}
author-li02
{
    color: Gray;
}
.author-li03
{
    margin-top: 4px;
}
.author-img img
{
    padding-top: 10px;
    max-width: 200px;
}
.Focus
{
    padding: 2PX;
    background-color: #dff0f9;
    border: solid 1px #16a2e3;
    color: #0d6289;
    border-radius: 3px;
    cursor: hand;
}
.discuss-box
{
     
    float: left;
    width: 660px;
   
    padding: 5px;
    margin-top:10px;
}
.discuss-ul-title
{
    float:left;
    width:100%;
    display:inline;
    height:30px;
    border-bottom:solid 5px #DCDFE0
}
.disuccs-ul-con
{
   width:100%;
   float:left;
   display:inline;
   padding-top:10px;  
   padding-bottom:15px;
     border-bottom:solid 1px #E9E9E9;
}
.li-headImg
{
    width:75px;
    float:left;
    display:inline
}
.li-headImg img
{
     padding:3px;
     border:solid 1px #E5E6E6;
     width:45px;
     height:45px;
}

.li-con
{
    width:570px;
    float:left;
    display:inline;
}
.span01
{
    font-weight:bold;
    color:#108AB7
}
.span02
{
    color:#8E8F8F;
    padding-left:10px;
}
.p1
{
    padding-bottom:5px;
}
.comment-box
{
   
    float:left;
    display:inline;
    margin-top:20px;
    
}
.comment-box li
{
    float:left;
    padding:0px 0px 3px 0px;
    margin:0px;
    display:inline;
}
.commentBox
{
    width:650px;
    overflow:auto;
    border:solid 1px #CED0D1;
    padding:5px;
    height:80px;
    font-family:微软雅黑;
    color:#4D5051
}
.declare-box
{
    float:left;
    display:inline;
    margin-top:15px;
    width:99%;
    color:#7F7C7C
}
.declare-box p
{
    padding-bottom:5px;
}
.h4
{
    color:#434545;
    font-size:14px;
    font-weight:bold;
}
.error-tips 
{
	 
	background-image: url(http://www.hello-code.com/Images/error.png);
	background-repeat: no-repeat;
	padding-left: 16px;
	font-size:14px;

}
.btnCss
{
    width:110px;
    height:34px;
    margin:0px;
    padding:0px;
    border:solid 0px gray;
    background-image:url(http://www.hello-code.com/Images/btnComment.jpg);
    background-repeat:no-repeat;
    cursor:hand;
    cursor:pointer;
}
b a
{
    color:#DF3507;
}
.font-warn
{
    font-size:15px; font-weight:bold; font-style:italic; color:#AB1805
}